body {
    background-image: linear-gradient(#03045E, #023E8A, #0077B6, #0096C7, #00B4D8, #48CAE4, #90E0EF, #ADE8F4, #CAF0F8);  
    background-attachment: fixed;
}
h1 {
    text-align: center;
    font-family: cursive;
    color: white;
}
ul {
    text-align: center;
    list-style: none;
}
p {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}